#include <iostream>
using namespace std;
int main(){
int a, b, c, d, f;
cin >> a; // число
cin >> b; // кол-во бит

if (a < 0) // знак в начале
{
d = 1;
}else{
d = 0;
}

f = a;
while (f != 0) // перевод числа
{
    if (f < 0){
f = f * -1;
}else{
f = f * 1;
}
c = f % 2;
cout << c;
f = f / 2;
}

cout << d;




return 0;
}
